$color-text-blue: rgb(19, 144, 229);
$color-text-black: rgb(34, 34, 34);
$color-text-white: rgb(255, 255, 255);

$color-purple: rgb(153, 119, 187);

$color-app-background: linear-gradient(90deg, #2D9BE7 0%, #62B3EA 100%);
$color-button-background: rgb(255, 255, 255);