/*****font-size*****/

@mixin font-size-11px {
	font-size: 11px;
	line-height: 150%;
}

@mixin font-size-12px {
	font-size: 12px;
	line-height: 150%;
}

@mixin font-size-14px {
	font-size: 14px;
	line-height: 150%;
}

@mixin font-size-16px {
	font-size: 16px;
	line-height: 110%;
}

@mixin font-size-18px {
	font-size: 18px;
	line-height: 110%;
}

@mixin font-size-22px {
	font-size: 22px;
	line-height: 110%;
}

/*****flex*****/

@mixin flex-align-center {
	display: flex;
  align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@mixin flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-column-justify-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin flex-center-center {
	display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
	display: flex;
	justify-content: flex-end;
}
