/***** border *****/

$border-white: 1px solid #fff;

/***** shadow *****/

$block-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); // filter: $block-shadow;

/***** height *****/

$height-input: 56px;
$height-footer: 60px;

/***** border *****/

$border: 5px;
$border-radius: 3px;